
header.main{
    height: 100px;
    background-color: #2A9D8F ;
    display: flex;
    justify-content: space-between;
}

header.main {
    padding: 0 50px;
    display: flex;
    align-items: center
}

header.main h1 {
    color: white;
    font-size: 42px;
    font-weight: bold;
}

header.main span {
    color: white;
    font-weight: 700;
    font-size: 18px;
}
