
header.main, footer.main {
    height: 100px;
    background-color: #2A9D8F ;
}

header.main {
    padding-left: 50px;
    display: flex;
    align-items: center
}

header.main h1 {
    color: white;
    font-size: 42px;
}

footer.main span{
    display: block;
}

footer.main {
	display: flex;
    color: #f6f6f6;
    align-items: center;
    justify-content: space-around;
    padding: 12px 40px;
}

h1.card-title{
    text-align: center;
    padding: 20px;
}

.container {
    padding: 100px 40px;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

.login-card {
    background-color: white;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    max-width: 800px;
    height: 350px;
    padding: 50px;

    box-shadow: 0 0 25px rgba(0,0,0,.2);
}

login-card div + .form {
    margin-top: 30px;
}

.login-card .form {
    max-width: 300px;
}

.login-card .form span {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.login-card .form span a {
    display: block;
    margin-left: 5px;
}

@media (max-width: 400px) {
    .login-card .form span {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    footer.main {
        display: flex;
        flex-direction: column-reverse;
    }

    footer.main span:last-child {
        display: none;
    }
}
