.container {
    padding: 100px 40px;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

.consent-term{
    font-size: 18px;
}

.text-field { 
    size: 14px;
}

#parent {
    width: 10%;
    white-space: nowrap;
    overflow-x: visible;
}

.child{
    width: 90%;
    vertical-align: 10px;
    display:inline-block;
}