
.form-card .form span {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.form-card .form span a {
    display: block;
    margin-left: 5px;
}

@media (max-width: 400px) {
    .form-card .form span {
        flex-direction: column;
        align-items: center;
    }
}