.container {
    padding: 100px 40px;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

.game-page {
    size: 12px;
    display: '';
}

.video-page { 
    size: 12px;
    display: 'none';
}

.b-continue {
    width: 60%;
}

#parent {
    width: 10%;
    white-space: nowrap;
    overflow-x: visible;
}

.child{
    width: 90%;
    vertical-align: 10px;
    display:inline-block;
}