* {
    padding: 0;
    margin: 0;

    border: 0;
    box-sizing: border-box;

    font-family: Ubuntu, sans-serif;
}

body{
    background-color: #F6F6F6;
    flex-direction: column;
    display: flex;
    flex: 1;
    height: 100%;
}

div.content-body{
    flex-direction: column;
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 100vh;
}

input.primary:focus {
    border: 2px solid #2A9D8F;
    transform: scale(1.03, 1.03);
}

input.primary + input.primary {
    margin-top: 5px;
}

button.primary {
    background-color: #264653;
    min-height: 45px;

    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;

    border-radius: 8px;
    padding: 10px 50px;

    width: 100%;
    transition: all .2s;
    outline: none;
}

button.primary:hover {
    background-color: #1a313a;
    color: #e5e5e5;

    transform: scale(1.02, 1.02);
}

input + button.primary {
    margin-top: 10px;
}

/*  */
