.option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#option {
    margin: 3px;
}

.add-option {
    font-size: 30px;
}

.remove-option {
    color: rgb(150, 0, 0);
    font-size: 30px;
}