
.home-container {
    display: flex;
}

.home-container aside {
    min-width: 20%;
}

.home-container main {

}

/* Menu */

/* Gamelist */
.gamelist {
    width: 100%;
    padding: 20px;
    background-color: #f6f6f6;
}

.gamelist h2 {
    margin-bottom: 20px;
}
.gamelist ul {
    list-style: none;
}

.gamelist ul li {
    padding: 40px 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 2px #dfdfdf;

    cursor: pointer;
    font-weight: 700;

    transition: all .2s;
}

.gamelist ul li:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 4px #6f6f6f;
    background-color: #efefef;
}

.gamelist ul li + li {
    margin-top: 10px;
}
