.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    background-color: rgba(0, 0, 0, .6);
}

.popup .popup-content {
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: 400px;

    background-color: white;
    border-radius: 8px;
    padding: 35px 20px;
}

.popup .popup-content h2 {
    text-align: center;
}

.popup-close {
    position: absolute;
    right: 20px;
    font-size: 18px;
    font-weight: 700;
    top: 10px;
    cursor: pointer;
}

.popup-close:hover {
    color: rgba(0, 0, 0, .7)
}

/* Form popups */

.popup .popup-content form {
    height: 100%;
    max-width: 350px;
    text-align: center;
    justify-content: center;
    margin: 34px auto 0;
}

.popup .popup-content form button {
    margin-top: 20px;
}
